@font-face {
  font-family: 'LHF Ephemera';
  src: url('LHF Ephemera Alternates.eot'); /* IE9 Compat Modes */
  src: url('LHF Ephemera Alternates.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LHF Ephemera Alternates.woff') format('woff'), /* Modern Browsers */
       url('LHF Ephemera Alternates.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LHF Ephemera Alternates.svg#20c6bd30104d55e36c28205cc9be5266') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'LHF Ephemera';
  src: url('LHF Ephemera Regular.eot'); /* IE9 Compat Modes */
  src: url('LHF Ephemera Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LHF Ephemera Regular.woff') format('woff'), /* Modern Browsers */
       url('LHF Ephemera Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LHF Ephemera Regular.svg#6d9922d0c19623b197b31cdd4f197dbd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'LHF Ephemera';
  src: url('LHF Ephemera Swashes.eot'); /* IE9 Compat Modes */
  src: url('LHF Ephemera Swashes.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LHF Ephemera Swashes.woff') format('woff'), /* Modern Browsers */
       url('LHF Ephemera Swashes.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LHF Ephemera Swashes.svg#98b709aba4c8a136078d53e6c7775b10') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

